<div class="gallery">

<%= form_for @gallery, as: :gallery do |f| %>

  <% @gallery.images.each_with_index do |image,i| %>
    <%# fields_for "gallery[images_attributes][]", image do |image_form| %>
    <%= f.fields_for "images_attributes[]", image do |image_form| %>
      <%= image_form.label :content, "Image #{i+1}" %>
      <%= image_form.file_field :content, index:nil %>
    <% end %>
  <% end %>

  <%= f.submit "Update Gallery" %>

<% end %>

</div>
